<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-gupnp" xml:lang="el">

  <info>
    <link type="guide" xref="tech" group="gupnp"/>
    <revision pkgversion="1.0" date="2011-05-17" status="candidate"/>

    <credit type="author copyright">
      <name>Zeeshan Ali (Khattak)</name>
      <email its:translate="no">zeeshanak@gnome.org</email>
      <years>2011</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Ασύρματη, ομότιμη επικοινωνία, RPC τοποθέτησης και άμεσης λειτουργίας</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ελληνική μεταφραστική ομάδα GNOME</mal:name>
      <mal:email>team@gnome.gr</mal:email>
      <mal:years>2010-2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Δημήτρης Σπίγγος</mal:name>
      <mal:email>dmtrs32@gmail.com</mal:email>
      <mal:years>2012-2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Τζένη Πετούμενου</mal:name>
      <mal:email>epetoumenou@gmail.com</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Μάριος Ζηντίλης</mal:name>
      <mal:email>m.zindilis@dmajor.org</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Μαρία Θουκυδίδου</mal:name>
      <mal:email>marablack3@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Θάνος Τρυφωνίδης</mal:name>
      <mal:email>tomtryf@gnome.org</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

<title>GUPnP</title>

  <p>Πολλές συσκευές "ηλεκτρονικών καταναλωτών" μπορούν να χρησιμοποιήσουν μια συσκευή υποστήριξης τοπικού δικτύου μιας κατοικίας και να εξυπηρετήσουν τον εντοπισμό μέσα από ένα πρωτόκολλο που λέγεται UPnP (γενική τοποθέτηση και άμεση λειτουργία). Η GUPnP επιτρέπει στις εφαρμογές GNOME να εντοπίσουν συσκευές UPnP στο δίκτυο και να κοινοποιήσουν υπηρεσίες οι ίδιες.</p>

  <p>Η DLNA είναι ένα σύνολο προτύπων που επιτρέπει στις συσκευές να μοιραστούν περιεχόμενο πολυμέσων σε τυπικές μορφές. Η GUPnP μπορεί επίσης να εκτελέσει εργασίες σχετικές με DLNA όπως πρόβλεψη κατατομής μέσων, μετατροπή κωδικοποίησης σε δοσμένη κατατομή κλπ.</p>

  <p>Στο GNOME, η GUPnP είναι μία από τις βασικές ομάδες δόμησης του λογισμικού για οικιακά πολυμέσα όπως Rygel, έναν οικιακό διακομιστή μέσων.</p>

  <list style="compact">
    <item><p><link href="http://www.gupnp.org">Αρχική σελίδα GUPnP</link></p></item>
  </list>

</page>
