<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:uix="http://projectmallard.org/experimental/ui/" type="topic" id="menu-bars" xml:lang="el">

  <info>
    <credit type="author">
      <name>Allan Day</name>
      <email>aday@gnome.org</email>
    </credit>
    <credit>
      <name>Calum Benson</name>
    </credit>
    <credit>
      <name>Adam Elman</name>
    </credit>
    <credit>
      <name>Seth Nickell</name>
    </credit>
    <credit>
      <name>Colin Robertson</name>
    </credit>

    <link type="guide" xref="ui-elements"/>
    <uix:thumb mime="image/svg" src="figures/ui-elements/menu-bar.svg"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ελληνική μεταφραστική ομάδα GNOME</mal:name>
      <mal:email>team@gnome.gr</mal:email>
      <mal:years>2014-2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Δημήτρης Σπίγγος</mal:name>
      <mal:email>dmtrs32@gmail.com</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Θάνος Τρυφωνίδης</mal:name>
      <mal:email>tomtryf@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

<title>Γραμμή μενού</title>

<p>Μια γραμμή μενού ενσωματώνει μια λουρίδα πτυσσόμενων μενού. Είναι συνήθως τοποθετημένη στην κορυφή του πρωτεύοντος παραθύρου, κάτω από μια γραμμή τίτλου παραθύρου.</p>

<media type="image" mime="image/svg" src="figures/ui-elements/menu-bar.svg"/>

<section id="when-to-use">
<title>Πότε χρησιμοποιούνται</title>

<p>Οι γραμμές μενού αυξάνουν το κάθετο ίχνος της διεπαφής χρήστη μιας εφαρμογής, εισάγουν έναν μεγάλο αριθμό σημείων αποκάλυψης και λειτουργούν ως ένα σταθερό σύνολο αυστηρών επιλογών. Για αυτούς τους λόγους, οι <link xref="header-bars">γραμμές κεφαλίδας</link> και τα <link xref="header-bar-menus">μενού γραμμών κεφαλίδας</link> συνιστάται γενικά να είναι πάνω από τις γραμμές μενού, μαζί με άλλα υποδείγματα σχεδίασης για την αποκάλυψη στοιχείων ελέγχου όταν ζητηθεί, όπως <link xref="selection-mode">κατάσταση επιλογής</link>, <link xref="action-bars">γραμμές ενέργειας</link> και <link xref="popovers">αναδυόμενα παράθυρα</link>.</p>

<p>Ταυτόχρονα, μπορεί να είναι κατάλληλο για σύνθετες εφαρμογές που περιλαμβάνουν ήδη μια γραμμή μενού να την διατηρήσουν. Επιπρόσθετα, κάποια λειτουργικά συστήματα επίσης ενσωματώνουν χώρο για μια γραμμή μενού στο περιβάλλον του χρήστη τους και ένα μοντέλο μενού μπορεί να είναι επιθυμητό για διαλειτουργικούς σκοπούς ενσωμάτωσης.</p>

</section>

<section id="standard-menus">
<title>Τυπικά μενού</title>

<p>Αυτή η ενότητα δίνει λεπτομέρειες για τα πιο συνηθισμένα μενού και στοιχεία μενού σε μια γραμμή μενού. Για λεπτομέρειες σε τυπικά στοιχεία που θα συμπεριληφθούν σε καθένα από αυτά τα μενού, δείτε <link xref="keyboard-input#application-shortcuts">είσοδος πληκτρολογίου</link>.</p>

<table>
<tr>
<td><p><gui>Αρχείο</gui></p></td>
<td><p>Οι εντολές λειτουργούν στο τρέχον έγγραφο ή στοιχείο περιεχομένου ως σύνολο. Είναι το πιο αριστερό στοιχείο στη γραμμή μενού λόγω της σημασίας του και της συχνότητας χρήσης, καθώς και επειδή είναι ένα σχετικό μενού σε πολλές εφαρμογές.</p>
<p>Αν η εφαρμογή σας δεν λειτουργεί σε αρχεία, ονομάστε αυτό το μενού με τον τύπο του αντικειμένου που εμφανίζει. Παραδείγματος χάρη, μια συσκευή αναπαραγωγής μουσικής μπορεί να έχει το <gui>Μουσική</gui> αντί για το μενού <gui>Αρχείο</gui>.</p></td>
</tr>
<tr>
<td><p><gui>Επεξεργασία</gui></p></td>
<td><p>Το μενού <gui>Επεξεργασία</gui> περιέχει στοιχεία σχετικά με την επεξεργασία εγγράφου, όπως χειρισμός προχείρου, εύρεση και αντικατάσταση, καθώς και εισαγωγή αντικειμένων.</p></td>
</tr>
<tr>
<td><p><gui>Προβολή</gui></p></td>
<td><p>Περιλαμβάνει στοιχεία που επηρεάζουν την προβολή χρήστη, όπως το τρέχον έγγραφο ή σελίδα, ή πώς εμφανίζονται τα στοιχεία στην περιήγηση. Μην βάζετε στοιχεία στο μενού <gui>Προβολή</gui> που επηρεάζουν τα στοιχεία περιεχομένου.</p></td>
</tr>
<tr>
<td><p><gui>Εισαγωγή</gui></p></td>
<td><p>Εμφανίζει τους τύπους αντικειμένων που μπορούν να εισαχθούν στο τρέχον έγγραφο, όπως εικόνες, σύνδεσμοι ή αλλαγές σελίδας. Δώστε αυτό το μενού μόνο αν έχετε περισσότερους από περίπου έξι τύπους αντικειμένων που μπορούν να εισαχθούν, αλλιώς βάλτε ξεχωριστά στοιχεία για κάθε τύπο στο μενού <gui>Επεξεργασία</gui>.</p></td>
</tr>
<tr>
<td><p><gui>Μορφή</gui></p></td>
<td><p>Περιλαμβάνει εντολές για να αλλάξει την οπτική εμφάνιση του εγγράφου. Παραδείγματος χάρη, αλλαγή γραμματοσειράς, χρώματος, ή διάστιχου μιας επιλογής κειμένου.</p>
<p>Η διαφορά μεταξύ αυτών των εντολών και αυτών στο μενού <gui>Προβολή</gui> είναι ότι αλλαγές που έγιναν με τις εντολές <gui>Μορφής</gui> παραμένουν και αποθηκεύονται ως μέρος του εγγράφου.</p>
<p>Στοιχεία που βρίσκονται στο μενού μορφής είναι πολύ ειδικά για την εφαρμογή.</p></td>
</tr>
<tr>
<td><p><gui>Σελιδοδείκτες</gui></p></td>
<td><p>Παρέχει ένα μενού σελιδοδεικτών σε οποιαδήποτε εφαρμογή που επιτρέπει στο χρήστη να περιηγηθεί τα αρχεία και τους φακέλους, στα έγγραφα βοήθειας, στις ιστοσελίδες ή οποιοδήποτε άλλο μεγάλο χώρο πληροφοριών.</p></td>
</tr>
<tr>
<td><p><gui>Μετάβαση</gui></p></td>
<td><p>Το μενού <gui>Μετάβαση</gui> παρέχει εντολές για γρήγορη περιήγηση σε ένα έγγραφο ή συλλογή εγγράφων, ή έναν χώρο πληροφορίας όπως μια δομή καταλόγου ή τον ιστό.</p>
<p>Τα περιεχόμενα του μενού θα ποικίλουν ανάλογα με τον τύπο της εφαρμογής.</p></td>
</tr>
<tr>
<td><p><gui>Παράθυρα</gui></p></td>
<td><p>Εντολές που εφαρμόζονται σε όλα τα ανοικτά παράθυρα της εφαρμογής. Μπορείτε επίσης να ονομάσετε αυτό το μενού <gui>Έγγραφα</gui>, <gui>Buffers</gui>, ή παρόμοια σύμφωνα με τον τύπο του εγγράφου που χειρίζεται η εφαρμογή σας.</p>
<p>Τα τελευταία στοιχεία σε αυτό το μενού είναι ένας αριθμημένος κατάλογος των πρωτευόντων παραθύρων της εφαρμογής, παραδείγματος χάρη <gui>1shoppinglist.abw</gui>. Η επιλογή ενός από αυτά τα στοιχεία ανυψώνει το αντίστοιχο παράθυρο.</p></td>
</tr>
</table>

</section>

<section id="general-guidelines">
<title>Γενικές οδηγίες</title>

<list>
<item><p>The menubar is normally visible at all times and is always accessible from the keyboard, so make all the commands available in your application available on the menubar. (This guideline is unique to menu bars — other menus should not seek to reproduce functionality that is made available by other controls).</p></item>
<item><p>Treat <link xref="application-menus">application menus</link> as part of the menu bar — it is not necessary to reproduce items from the application menu in other menus.</p></item>
<item><p>Μην απενεργοποιείτε τους τίτλους μενού. Να επιτρέπετε στον χρήστη να εξερευνήσει το μενού, ακόμα κι αν μπορεί να μην υπάρχουν διαθέσιμα στοιχεία για αυτό εκείνη τη στιγμή.</p></item>
<item><p>Οι τίτλοι μενού σε μια γραμμή μενού είναι μονές λέξεις με το πρώτο τους γράμμα κεφαλαίο. Μην χρησιμοποιείτε κενά στους τίτλους μενού, καθώς αυτό τα κάνει εύκολα λανθασμένα για δύο ξεχωριστούς τίτλους μενού. Να μην χρησιμοποιείτε σύνθετες λέξεις (όπως <gui>ΕπιλογέςΠαραθύρου</gui>) ή ενωτικά (όπως <gui>Παράθυρο-Επιλογές</gui>) για να παρακάμψτε αυτήν την οδηγία.</p></item>
<item><p>Μην δίνετε έναν μηχανισμό για απόκρυψη της γραμμής μενού, επειδή αυτό μπορεί να ενεργοποιηθεί τυχαία. Μερικοί χρήστες δεν θα μπορούν να καταλάβουν πώς να επιστρέψει η γραμμή μενού σε αυτήν την περίπτωση.</p></item>
</list>

</section>

<section id="api-reference">
<title>Αναφορά API</title>

<list>
<item><p><link href="https://developer.gnome.org/gtk3/stable/GtkMenu.html">GtkMenu</link></p></item>
<item><p><link href="https://developer.gnome.org/gtk3/stable/GtkMenuBar.html">GtkMenuBar</link></p></item>
<item><p><link href="https://developer.gnome.org/gtk3/stable/GtkMenuItem.html">GtkMenuItem</link></p></item>
<item><p><link href="https://developer.gnome.org/gtk3/stable/GtkRadioMenuItem.html">GtkRadioMenuItem</link></p></item>
<item><p><link href="https://developer.gnome.org/gtk3/stable/GtkCheckMenuItem.html">GtkCheckMenuItem</link></p></item>
<item><p><link href="https://developer.gnome.org/gtk3/stable/GtkSeparatorMenuItem.html">GtkSeparatorMenuItem</link></p></item>
</list>
</section>

</page>
