<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="patterns" xml:lang="el">

  <info>
    <credit type="author">
      <name>Allan Day</name>
      <email>aday@gnome.org</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ελληνική μεταφραστική ομάδα GNOME</mal:name>
      <mal:email>team@gnome.gr</mal:email>
      <mal:years>2014-2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Δημήτρης Σπίγγος</mal:name>
      <mal:email>dmtrs32@gmail.com</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Θάνος Τρυφωνίδης</mal:name>
      <mal:email>tomtryf@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

<title>Υποδείγματα σχεδίασης</title>

<p>Τα υποδείγματα είναι τα πρωτεύοντα στοιχεία που συνθέτουν τον σχεδιασμό μιας εφαρμογής. Κάποια υποδείγματα, όπως μενού εφαρμογών ή γραμμές κεφαλίδας, συνιστώνται πολύ. Άλλα είναι προαιρετικά και η απόφαση ποια υποδείγματα θέλετε να χρησιμοποιήσετε σχηματίζουν ένα βασικό τμήμα της διαδικασίας σχεδιασμού. Για να βοηθηθείτε, κάθε σελίδα υποδείγματος δίνει λεπτομέρειες για τις κατάλληλες χρήσεις κάθε υποδείγματος και προτείνει εναλλακτικές λύσεις που μπορεί να είναι εφαρμόσιμες.</p>

<section id="anatomy">
<title>Ανατομία μιας εφαρμογής του GNOME 3</title>
<p>Μια οπτική παραπομπή για κάποια από τα πιο συνηθισμένα υποδείγματα σχεδίασης του GNOME 3.</p>
<media type="image" mime="image/svg" src="figures/patterns/patterns.svg"/>
</section>

<section id="primary">
<title>Υποδείγματα σχεδίασης πυρήνα</title>
<links type="topic" style="2column"/>

</section>

<section id="secondary">
<title>Συμπληρωματικά υποδείγματα σχεδίασης</title>
<links type="topic" style="2column"/>
</section>

</page>
