<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="application-menus" xml:lang="cs">

  <info>
    <link type="guide" xref="patterns#primary"/>
    <desc>Globální nabídka aplikace, která je přístupná z horní lišty</desc>
    <credit type="author">
      <name>Allan Day</name>
      <email>aday@gnome.org</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Nabídka aplikace</title>

<media type="image" mime="image/svg" src="figures/patterns/application-menu.svg"/>

<p><em>Nabídky aplikace nejsou již nadále doporučovány a od verze GNOME 3.32 nebude již jejich obsah zobrazován v horní liště GNOME 3. Jako náhrada by měly být používány <link xref="primary-menus">hlavní</link> a <link xref="secondary-menus">podružné</link> nabídky.</em></p>

</page>
