<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="tour" xml:lang="sl">

  <info>
    <link type="guide" xref="index" group="#first"/>
    <link type="next" xref="tour-glade"/>
    <revision version="0.1" date="2013-06-17" status="stub"/>

    <credit type="author copyright">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="author copyright">
      <name>Gordon Hill</name>
      <email its:translate="no">caseyweederman@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Get your GtkApplication started in JavaScript and create a UI using
    Glade.</desc>
  </info>

  <title>Get started</title>

  <links type="prevnext" style="top"/>

  <links type="series" style="floatend">
    <title>Get started with GNOME</title>
  </links>

  <p>User interface (UI) can be constructed with code or created in
  Glade, the UI editor for GNOME. Glade produces XML
  files that describe attributes of an application.</p><p>You will generate a
  GtkBuilder file in Glade and access and display a window based on
  the contents of that file with a Gjs script. The script is examined in
  multiple parts and included in full in the summary.</p>

  <links type="prevnext"/>
</page>
