<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-telepathy" xml:lang="gl">

  <info>
    <link type="guide" xref="tech" group="telepathy"/>
    <revision pkgversion="3.0" date="2011-04-05" status="incomplete"/>

    <credit type="author copyright">
      <name>Shaun McCance</name>
      <email its:translate="no">shaunm@gnome.org</email>
      <years>2011–2012</years>
    </credit>
    <credit type="copyright editor">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Unified instant-messaging and communications service</desc>

    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Diéguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2009-2020.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Leandro Regueiro</mal:name>
      <mal:email>leandro.regueiro@gmail.com</mal:email>
      <mal:years>2011.</mal:years>
    </mal:credit>
  </info>

<title>Telepathy</title>

  <p>Telepathy fornece un marco de traballo potente para interactuar cos contactos de mensaxaría instantánea do usuario. Con Telepathy, todas as contas e conexións son xestionadas por un servizo D-Bus de sesión integrado profundamente no escritorio GNOME. As aplicacións poden unirse a este servizo para comunicarse cos contactos.</p>

<p>Coa API «Telepathy Tubes» pode crear incluso un túnel con un protocolo arbitrario sobre os protocolos de mensaxaría instantánea modernos, como Jabber, para interactuar coas aplicacións. Crear xogos multixogador ou editores colaborativos que se integran cos servizos de mensaxaría instantánea do escritorio.</p>

<list style="compact">
  <item><p><link href="http://telepathy.freedesktop.org/doc/book/">Manual para desenvolvedores de Telepathy</link></p></item>
  <item><p><link href="http://telepathy.freedesktop.org">Sitio web de Telepathy</link></p></item>

</list>

</page>
