<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-gda" xml:lang="gl">

  <info>
    <link type="guide" xref="tech" group="gda"/>
    <revision pkgversion="3.0" date="2011-04-05" status="incomplete"/>

    <credit type="author copyright">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Unified access to relational databases</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Diéguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2009-2020.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Leandro Regueiro</mal:name>
      <mal:email>leandro.regueiro@gmail.com</mal:email>
      <mal:years>2011.</mal:years>
    </mal:credit>
  </info>

<title>GNOME Data Access</title>

<p>GNOME Data Access, or GDA for short, offers a wrapper around
relational databases, which allows you to easily store and retrieve data in many
different common database systems.</p>

<p>Instead of worrying about the vagaries of different database systems, GDA
provides a unified interface to them.  GDA supports SQLite, MySQL, PostreSQL,
Microsoft Access, Berkeley DB, Oracle, and JDBC.</p>


<list style="compact">
  <item><p><link href="https://developer.gnome.org/libgda/stable/">GNOME Data Access Manual</link></p></item>
  <item><p><link href="http://www.gnome-db.org/">GDA Home Page</link></p></item>
</list>

</page>
