<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-webkit" xml:lang="sv">

  <info>
    <link type="guide" xref="tech" group="webkit"/>
    <revision pkgversion="3.0" date="2011-04-05" status="incomplete"/>

    <credit type="author copyright">
      <name>Shaun McCance</name>
      <email its:translate="no">shaunm@gnome.org</email>
      <years>2011</years>
    </credit>
    <credit type="copyright editor">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>HTML5-webbsiderendering</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Nylander</mal:name>
      <mal:email>po@danielnylander.se</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2017, 2018</mal:years>
    </mal:credit>
  </info>

<title>WebKit</title>

  <p>WebKit är en kraftfull HTML-motor för flera plattformar som används i både öppna källkodsprodukter och kommersiella/proprietära produkter. WebKitGTK är porteringen av WebKit som byggts på <link xref="tech-gtk">GTK</link> och integrerats i GNOME-utvecklingsplattformen. WebKitGTK utvecklas uppströms som en del av det huvudsakliga WebKit-projektet, så det är alltid uppdaterat med de senaste HTML5-funktionerna.</p>

<p>WebKitGTK gör det lätt att lägga till webbfunktionalitet till ditt program, eller att använda HTML5 och associerade teknologier för att skapa dynamiska användargränssnitt snabbt.</p>

<list style="compact">
  <item><p><link href="http://developer.gnome.org/gnome-devel-demos/stable/message-board.c.html">WebKitGTK-demonstration</link></p></item>
  <item><p><link href="http://webkitgtk.org/reference/webkit2gtk/stable/">WebKitGTK-referenshandbok</link></p></item>
  <item><p><link href="http://webkitgtk.org/">Webbplatsen för WebKitGTK</link></p></item>
</list>

</page>
