<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-geocode-glib" xml:lang="sv">

  <info>
    <link type="guide" xref="tech" group="geocode-glib"/>

    <credit type="author copyright">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Geografisk kodning och omvänd geografisk kodning - konvertering av gatuadresser till/från geografiska koordinater</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Nylander</mal:name>
      <mal:email>po@danielnylander.se</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2017, 2018</mal:years>
    </mal:credit>
  </info>

<title>Geocode-glib</title>

  <p>Geocode-glib tillhandahåller <em>geografisk kodning</em> och <em>omvänd geografisk kodning</em>. Geografisk kodning är processen att översätta en adress (”123 Storgatan, Någonstad, Någotland”) till ett par av latitud/longitudvärden. Omvänd geografisk kodning är den omvända processen.</p>

  <p>Geocode-glib använder internt Yahoo! Place Finder-API:t för att fungera. I framtiden kommer det att stödja den fria Nominatim-tjänsten och OpenStreetMap-data.</p>

  <list style="compact">
    <item><p><link href="https://developer.gnome.org/geocode-glib/unstable/index.html">Referensdokumentation för Geocode-glib</link></p></item>
  </list>

</page>
