<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="tour" xml:lang="sv">

  <info>
    <link type="guide" xref="index" group="#first"/>
    <link type="next" xref="tour-glade"/>
    <revision version="0.1" date="2013-06-17" status="stub"/>

    <credit type="author copyright">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="author copyright">
      <name>Gordon Hill</name>
      <email its:translate="no">caseyweederman@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Få din GtkApplication att starta i JavaScript och skapa ett användargränssnitt med Glade.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Nylander</mal:name>
      <mal:email>po@danielnylander.se</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2017, 2018</mal:years>
    </mal:credit>
  </info>

  <title>Kom igång</title>

  <links type="prevnext" style="top"/>

  <links type="series" style="floatend">
    <title>Kom igång med GNOME</title>
  </links>

  <p>Användargränssnitt (user interface, UI) kan konstrueras med kod eller skapas i Glade, gränssnittsredigeraren för GNOME. Glade producerar XML-filer som beskriver attribut för ett program.</p><p>Du kommer att skapa en GtkBuilder-fil i Glade och komma åt samt visa ett fönster baserat på innehållet för den filen med ett Gjs-skript. Skriptet undersöks i flera delar och helheten finns inkluderad i sammanfattningen.</p>

  <links type="prevnext"/>
</page>
