<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="tour-get_object" xml:lang="sv">

  <info>
    <link type="next" xref="tour-application"/>
    <revision version="0.1" date="2013-06-17" status="stub"/>

    <credit type="author copyright">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="author copyright">
      <name>Gordon Hill</name>
      <email its:translate="no">caseyweederman@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Lägg till fönstret som angivits i användargränssnittsfilen till programmet med GtkBuilder.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Nylander</mal:name>
      <mal:email>po@danielnylander.se</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2017, 2018</mal:years>
    </mal:credit>
  </info>

  <title>GtkBuilder</title>
  <links type="prevnext" style="top"/>
  <links type="series" style="floatend">
    <title>Kom igång med GNOME</title>
  </links>

  <p>GtkBuilder accepterar användargränssnittsbeskrivningar och förvandlar dem till Gtk-program. I detta fall är användargränssnittsbeskrivningen i filen <file>helloworld.glade</file> och kan läsas av <code>get_object()</code>-metoden.</p>

  <example>
    <p>Läs in UI-filen med <code>GtkBuilder</code> och erhåll fönsterobjektet med <gui>Name</gui> (eller <gui>ID</gui>) som valts i Glade, och lägg till fönsterobjektet till programmet:</p>

    <code>
    _onStartup() {
        let builder = new Gtk.Builder();
        builder.add_from_file('helloworld.glade');
        this._window = builder.get_object('window1');
        this.application.add_window(this._window);
    }
};
</code>
  </example>
  <links type="prevnext"/>
</page>
