<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="selection-mode" xml:lang="ru">

  <info>
    <link type="guide" xref="patterns#primary"/>
    <desc>Pattern for selecting content items</desc>
    <credit type="author">
      <name>Алан Дэй (Allan Day)</name>
      <email>aday@gnome.org</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Режим выделения</title>

<media type="image" mime="image/svg" src="figures/patterns/selection-mode.svg"/>

<p>Режим выделения — это шаблон проектирования, с помощью которого можно выполнять некоторые действия над элементами содержимого. Он часто применяется вместе со списками и сетками.</p>

<p>Когда режим выделения включён, элементы можно выделять с помощью флаговых кнопок, при этом в нижней части текущего вида появляется панель действий. Панель действий содержит различные действия, которые можно выполнять над выделенными элементами.</p>

<section id="when-to-use">
<title>Когда использовать</title>

<p>Режим выделения используется когда:</p>

<list>
<item><p>необходимо выполнить действия одновременно над несколькими элементами;</p></item>
<item><p>над элементами можно выполнить несколько действий;</p></item>
<item><p>пользователю удобно выполнять действия над элементами, не открывая их.</p></item>
</list>

<p>Если для пользователей больше подходит выполнение действий над одним элементом, попробуйте применить другой шаблон проектирования, например контекстное меню. Если над элементами можно выполнять только одно действие, можно использовать видоизменённую версию режима выделения (например, вместо того, чтобы выделять элементы, а потом инициировать действие, можно расположить кнопку действия прямо поверх элемента).</p>

</section>

<section id="activating-selection-mode">
<title>Включение режима выделения</title>

<p>Основной способ включения режима выделения — использовать кнопку режима выделения, которая находится в заголовочной панели (её легко найти по значку в виде галочки). Режим выделения включается также при выделение элементов с помощью растяжимой рамки, или при нажатии на элементы с удержанием клавиш Ctrl или Shift.</p>

</section>

<section id="action-bar">
<title>Панель действий</title>

<list>
<item><p>Элементы управления в панели действий должны быть неактивными, если не выбрано ни одного элемента. Иногда действия могут выполняться, только если выбрано больше одного элемента, в этом случае соответствующие элементы управления должны быть активными, только если выделено несколько элементов.</p></item>
<item><p>В управляющих элементах в панели действий можно использовать значки или текстовые метки.</p></item>
<item><p>Группы действий должны размещаться в любом конце панели. Разрушительные действия, например удаление, должны располагаться в стороне от прочих элементов управления.</p></item>
</list>

</section>
</page>
