<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-canberra" xml:lang="pt-BR">

  <info>
    <link type="guide" xref="tech" group="canberra"/>
    <revision pkgversion="3.0" date="2011-04-05" status="incomplete"/>

    <credit type="author copyright">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Uma API simples de áudio para notificações e eventos</desc>

    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rafael Fontenelle</mal:name>
      <mal:email>rafaelff@gnome.org</mal:email>
      <mal:years>2013, 2014, 2016, 2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Isaac Ferreira Filho</mal:name>
      <mal:email>isaacmob@riseup.net</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  </info>

<title>Canberra</title>

<p>Canberra é uma biblioteca simples para reprodução de eventos de áudio e notificações, como quando o usuário recebeu uma mensagem ou ocorreu um erro. Além de oferecer uma API conveniente, Canberra também pode trabalhar com os recursos de acessibilidade da área de trabalho para alterar notificação para usuários deficientes auditivos.</p>

<list style="compact">
  <item><p><link href="https://developer.gnome.org/libcanberra/unstable/">Referência do Canberra</link></p></item>
</list>

</page>
