<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="dev-launching-icons" xml:lang="ru">

  <info>
    <link type="next" xref="dev-launching-startupnotify"/>
    <revision version="0.1" date="2014-01-28" status="draft"/>

    <credit type="author">
      <name>David King</name>
      <email its:translate="no">davidk@gnome.org</email>
      <years>2014</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

  </info>

  <title>Install an icon</title>

  <links type="series" style="floatend">
    <title>Launch your application</title>
  </links>

  <p>Install an icon to identify your application.</p>

  <p>When listing an icon in a desktop file, the image must be installed in a
  standard location, given by the
  <link href="http://standards.freedesktop.org/icon-theme-spec/icon-theme-spec-latest.html">freedesktop.org
  Icon Theme</link> and
  <link href="http://standards.freedesktop.org/icon-naming-spec/icon-naming-spec-latest.html">Icon
  Naming specifications</link>. As a minimum, an application should install a
  48×48 pixel icon into <file><var>$prefix</var>/share/icons/hicolor/48x48/apps</file>
  in PNG format.</p>

  <p>To match with other icons, both in GNOME and other platforms, follow the
  <link href="http://tango.freedesktop.org/Tango_Icon_Theme_Guidelines">Tango
  Icon Theme guidelines</link> when creating icons and application artwork.</p>

</page>
