<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="license" xml:lang="ko">

  <info>
    <link type="seealso" xref="index"/>
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
    <desc>법적 정보.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조성호</mal:name>
      <mal:email>shcho@gnome.org</mal:email>
      <mal:years>2017-2019.</mal:years>
    </mal:credit>
  </info>

  <title>라이선스</title>
  <p>이 문서는 크리에이티브 커먼즈 저작자표시-동일조건변경허락 3.0 Unported 라이선스로 배포됩니다.</p>
  <p>다음을 자유롭게 행할 수 있습니다:</p>
  <terms>
    <item>
      <title><em>공유</em></title>
      <p>저작물을 복제, 배포, 전송합니다.</p>
    </item>
    <item>
      <title><em>변경</em></title>
      <p>저작물에 적용합니다.</p>
    </item>
  </terms>
  <p>다음 조항을 따라야합니다:</p>
  <terms>
    <item>
      <title><em>저작자 표시</em></title>
      <p>저작자 또는 저작권자가 지정한 방식으로 저작물의 저작자를 언급해야합니다(저작 행위나 저작물의 사용 방식은 해당하지 않음).</p>
    </item>
    <item>
      <title><em>동일 조건</em></title>
      <p>작업물을 바꾸거나, 전송하거나, 작업물을 기반으로 무언가를 만든다면, 동일, 유사 또는 호환 라이선스를 기반으로 결과 작업물을 배포해야합니다.</p>
    </item>
  </terms>
  <p>라이선스 전문은 <link href="http://creativecommons.org/licenses/by-sa/3.0/legalcode">크리에이티브 커먼즈 웹사이트</link>를 방문하시거나, <link href="http://creativecommons.org/licenses/by-sa/3.0/">커먼즈 라이선스</link> 전문을 읽으십시오.</p>

<note style="important"><p>특별한 예외로, 저작자는 여러분에게 여러분이 원하는 조항에 따라 이 문서 내 예제 코드에 대한 제한 없는 복제, 수정, 배포 권한을 부여합니다.</p></note>
</page>
