<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="dev-launching-icons" xml:lang="es">

  <info>
    <link type="next" xref="dev-launching-startupnotify"/>
    <revision version="0.1" date="2014-01-28" status="draft"/>

    <credit type="author">
      <name>David King</name>
      <email its:translate="no">davidk@gnome.org</email>
      <years>2014</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011-2019</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Carrión</mal:name>
      <mal:email>mario@monouml.org</mal:email>
      <mal:years>2006</mal:years>
    </mal:credit>
  </info>

  <title>Instalar un icono</title>

  <links type="series" style="floatend">
    <title>Lanza su aplicación</title>
  </links>

  <p>Instalar un icono para identificar su aplicación.</p>

  <p>Al indicar un icono en un archivo .desktop, la imagen se debe instalar en una ubicación estándar, dada por el <link href="http://standards.freedesktop.org/icon-theme-spec/icon-theme-spec-latest.html">tema de iconos de freedesktop.org</link> y por <link href="http://standards.freedesktop.org/icon-naming-spec/icon-naming-spec-latest.html">las especificaciones de nombres de iconos</link>. Como mínimo, una aplicación debe instalar un icono de 48×48 píxeles en <file><var>$prefix</var>/share/icons/hicolor/48x48/apps</file> y en formato PNG.</p>

  <p>Para que coincida con otros iconos, tanto en GNOME como en otras plataformas, siga la <link href="http://tango.freedesktop.org/Tango_Icon_Theme_Guidelines">guía de temas de iconos de Tango </link> al crear iconos y diseños de aplicaciones.</p>

</page>
