<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="dev-translate-tools" xml:lang="es">

  <info>
    <revision version="0.1" date="2013-06-19" status="review"/>

    <credit type="author copyright">
      <name>Michael Hill</name>
      <email its:translate="no">mdhillca@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011-2019</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Carrión</mal:name>
      <mal:email>mario@monouml.org</mal:email>
      <mal:years>2006</mal:years>
    </mal:credit>
  </info>

  <title>Herramientas de traducción</title>

  <links type="series" style="floatend">
    <title>Configurar las traducciones</title>
  </links>

  <p>En este punto, las cadenas está lista para su traducción o <em>localización</em>. Para proyectos alojados en el repositorio Git de GNOME, esta tarea la gestiona el Proyecto de traducción de GNOME. <app href="https://wiki.gnome.org/Apps/Gtranslator">Gtranslator</app> es una herramienta de GNOME para editar archivos <file>.po</file>. Hay otras herramientas de traducción, como pueden ser <app>Transifex</app>, <app>Virtaal</app>, <app>KBabel</app> o <app>Pootle</app>.</p>

</page>
