<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="dev-launching" xml:lang="es">

  <info>
    <link type="guide" xref="index" group="launching"/>
    <link type="next" xref="dev-launching-desktop"/>
    <link type="seealso" xref="dev-translate"/>

    <revision version="0.1" date="2014-01-27" status="draft"/>

    <credit type="author copyright">
      <name>David King</name>
      <email its:translate="no">davidk@gnome.org</email>
      <years>2014</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Mostrar un lanzador e iniciar su aplicación.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011-2019</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Carrión</mal:name>
      <mal:email>mario@monouml.org</mal:email>
      <mal:years>2006</mal:years>
    </mal:credit>
  </info>

  <title>Lanzar aplicaciones</title>

  <links type="series" style="floatend">
    <title>Lanza su aplicación</title>
  </links>

  <p>La manera de lanzar una aplicación es mediante un icono en el lanzador. Use el estándar «Desktop Entry Specification» de freedesktop.org para crear un archivo .desktop, indicando el nombre de la aplicación, el icono y una breve descripción.</p>

</page>
