<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-packagekit" xml:lang="es">

  <info>
    <link type="guide" xref="tech" group="packagekit"/>

    <credit type="author copyright">
      <name>Shaun McCance</name>
      <email its:translate="no">shaunm@gnome.org</email>
      <years>2011–2012</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Instalación y gestión de software</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011-2019</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Carrión</mal:name>
      <mal:email>mario@monouml.org</mal:email>
      <mal:years>2006</mal:years>
    </mal:credit>
  </info>

<title>PackageKit</title>

  <p>PackageKit permite a las aplicaciones preguntar qué otros paquetes hay instalados, sin importar la distribución de GNU/Linux que se esté ejecutano. Si su aplicación necesita instalar un paquete adicional al ejecutarse, puede pedir a PackageKit que lo descargue y lo instale. Por ejemplo, una aplicación multimedia puede necesitar descargar un códec, o un programa de presentaciones puede necesitar descargar una tipografía.</p>

  <p>Varias aplicaciones de GNOME usan PackageKit en situaciones similares. Totem, el reproductor multimedia, usa PackageKit para solicitar la instalación de «códecs» cuando intenta reproducir un archivo multimedia que no reconoce. System-config-printer, un programa para configurar impresoras cuando están conectadas, usa PackageKit para descargar e instalar los controladores necesarios para la impresora.</p>

  <list style="compact">
    <item><p><link href="http://www.packagekit.org/">Página web de PackageKit</link></p></item>
  </list>

</page>
