<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-gupnp" xml:lang="es">

  <info>
    <link type="guide" xref="tech" group="gupnp"/>
    <revision pkgversion="1.0" date="2011-05-17" status="candidate"/>

    <credit type="author copyright">
      <name>Zeeshan Ali (Khattak)</name>
      <email its:translate="no">zeeshanak@gnome.org</email>
      <years>2011</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Inalámbrica, punto a punto, RPC «plug-and-play»</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011-2019</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Carrión</mal:name>
      <mal:email>mario@monouml.org</mal:email>
      <mal:years>2006</mal:years>
    </mal:credit>
  </info>

<title>GUPnP</title>

  <p>Muchos dispositivos «electrónicos de consumo» puede usar el soporte de dispositivos de la red local y el descubrimiento de servicios mediante un protocolo llamado UPnP (Universal Plug and Play). GUPnP permite a las aplicaciones de GNOME descubrir dispositivos UPnP en la red, y publicar los servicios ellos mismos.</p>

  <p>DLNA es un conjunto de estándares que permite a los dispositivos compartir contenido multimedia en formatos estándar. GUPnP también puede realizar tareas relacionadas con DLNA tales como adivinar el perfil de un medio, transcodificar a un perfil dado, etc.</p>

  <p>En GNOME, GUPnP es uno de los bloques de construcción básicos de software multimedia como Rygel, servidor multimedia no profesional.</p>

  <list style="compact">
    <item><p><link href="http://www.gupnp.org">Página web de GUPnP</link></p></item>
  </list>

</page>
