<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="display-compatibility" xml:lang="gl">

  <info>
    <credit type="author">
      <name>Allan Day</name>
      <email>aday@gnome.org</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <desc/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Dieguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2019.</mal:years>
    </mal:credit>
  </info>

<title>Display compatibility</title>

<p>GNOME 3 supports a variety of device types, including desktops, laptops and convertibles. This requires that applications be compatible with displays that have different sizes and orientations.</p>

<p>The size requirements stated on this page should be doubled for high-resolution displays (those with greater than 96 PPI).</p>

<section id="general">
<title>Liñas de guía xerais</title>

<list>
<item><p>It should be possible for all application windows to fit on the smallest recommended displays for GNOME 3. Currently, this is 1024×600 pixels.</p></item>
<item><p>Ensure that your application works well in portrait orientation. The minimum recommended width for portrait mode is 768 pixels.</p></item>
<item><p>All primary windows should be resizable. This ensures that transitions between landscape and portrait mode can be automatically handled by the window manager.</p></item>
<item><p>Test to make sure that your interface works well on large displays. Where possible, scale content to make the best use of available space, or use fixed width layouts to ensure that interface elements maintain effective grouping and alignment.</p></item>
</list>

</section>

<section id="half-screen-snap">
<title>Half-screen snap</title>

<p>GNOME 3 allows windows to be snapped to occupy half the width of the display, allowing two windows to be used alongside each other. Half-screen snap is impractical on very small displays. As a rule of thumb, it should be supported on screens that are 1280 pixels or wider, meaning that windows should have a minimum width of no less than 640 pixels.</p>

<p>Since half-screen snap is only useful when windows are used in parallel, applications that are used in isolation do not need to support half-screen snap (a music player is a good example of this).</p>

</section>
</page>
