<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:uix="http://projectmallard.org/experimental/ui/" type="topic" id="empty-placeholder" xml:lang="gl">

  <info>
    <link type="guide" xref="patterns#secondary"/>
    <desc>Image and text shown when a grid or list is empty</desc>
    <credit type="author">
      <name>Allan Day</name>
      <email>aday@gnome.org</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Dieguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2019.</mal:years>
    </mal:credit>
  </info>

<title>Empty placeholders</title>

<media type="image" mime="image/svg" src="figures/patterns/empty-placeholder.svg"/>

<p>An empty placeholder is an image and text which fills the space in an empty list or grid.</p>

<section id="when-to-use">
<title>Cando usala</title>

<p>Empty placeholders perform a number of important functions: they prevent confusion and guide the user, and they make your interface look better and more cohesive. They are also one of those nice touches which helps to communicate an attention to detail.</p>

<p>An empty placeholder should be displayed whenever a list or grid is empty.</p>

<p>Empty placeholders should not be displayed when an application is being run for the first time. In these situations an empty state is too negative and <link xref="initial-state-placeholder">a richer, more characterful and positive experience</link> is better.</p>

</section>

<section id="guidelines">
<title>Liñas de guía</title>

<list>
<item><p>Follow the standard layout for the size and placement of the image and labels, so that your application is consistent with other GNOME 3 applications.</p></item>
<item><p>For the image, use a <link xref="icons-and-artwork#color-vs-symbolic">symbolic icon</link> that either represents your application, or the type of content that would ordinarily appear in the grid or list.</p></item>
<item><p>An empty placeholder should always include a label which communicates the empty state. It is often appropriate to include a smaller subtext which provides additional guidance (such as how to add items). However, this should only be included if there is additional information that it is useful to provide.</p></item>
<item><p>If there are controls that allow items to be added, it can be appropriate to highlight them using a <link xref="buttons#suggested-and-destructive">suggested style</link> while the list/grid is empty.</p></item>
</list>

</section>

</page>
