<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="dev-launching-startupnotify" xml:lang="it">

  <info>
    <link type="next" xref="dev-launching-mime"/>
    <revision version="0.1" date="2014-01-28" status="draft"/>

    <credit type="author">
      <name>David King</name>
      <email its:translate="no">davidk@gnome.org</email>
      <years>2014</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

  </info>

  <title>Startup Notification</title>

  <links type="series" style="floatend">
    <title>Launch your application</title>
  </links>

  <p>Notify the user when your application has finished starting up.</p>

  <p>GNOME implements the
  <link href="https://standards.freedesktop.org/startup-notification-spec/startup-notification-latest.txt">Startup
  Notification protocol</link>, to give feedback to the user when application
  startup finishes.</p>

  <p>GTK applications automatically support startup notification, and by
  default notify that application startup is complete when the first window is
  shown. Your application must declare that it supports startup notification by
  adding <code>StartupNotify=true</code> to its desktop file.</p>

  <p>More complicated startup scenarios, such as showing a splash screen during
  startup, would need custom handling with <code href="https://developer.gnome.org/gdk3/stable/gdk3-General.html#gdk-notify-startup-complete">gdk_notify_startup_complete()</code>.</p>

</page>
