<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-canberra" xml:lang="it">

  <info>
    <link type="guide" xref="tech" group="canberra"/>
    <revision pkgversion="3.0" date="2011-04-05" status="incomplete"/>

    <credit type="author copyright">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Simple audio API for notifications and events</desc>
</info>

<title>Canberra</title>

<p>Canberra is a simple library for playing audio events and notifications,
such as when the user has received a message or an error has occurred.
As well as providing a convenient API, Canberra can also work with the
accessibility features of the desktop to provide alternate notification
for hearing-impaired users.</p>

<list style="compact">
  <item><p><link href="https://developer.gnome.org/libcanberra/unstable/">Canberra Reference</link></p></item>
</list>

</page>
