<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="patterns" xml:lang="de">

  <info>
    <credit type="author">
      <name>Allan Day</name>
      <email>aday@gnome.org</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  </info>

<title>Designmuster</title>

<p>Patterns are the primary elements that make up an application design. Some patterns, like application menus or header bars, are highly recommended. Others are optional, and deciding on which patterns you want to use forms a core part of the design process. To help with this, each pattern page details the appropriate uses of each pattern, and suggests alternatives that might be applicable.</p>

<section id="anatomy">
<title>Anatomie einer GNOME-2-Anwendung</title>
<p>A visual reference for some of the most common GNOME 3 design patterns.</p>
<media type="image" mime="image/svg" src="figures/patterns/patterns.svg"/>
</section>

<section id="primary">
<title>Grundlegende Designmuster</title>
<links type="topic" style="2column"/>

</section>

<section id="secondary">
<title>Ergänzende Designmuster</title>
<links type="topic" style="2column"/>
</section>

</page>
