<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="dev-help" xml:lang="uk">

  <info>
    <link type="guide" xref="index" group="help"/>
    <link type="next" xref="dev-help-write"/>
    <link type="seealso" xref="dev-translate"/>

    <revision version="0.1" date="2013-06-18" status="review"/>

    <credit type="author copyright">
      <name>Radina Matic</name>
      <email its:translate="no">radina.matic@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="editor">
      <name>Єкатерина Герасимова (Ekaterina Gerasimova)</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Залежна від програми і контексту довідка і документація для користувачів.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Максим Дзюманенко</mal:name>
      <mal:email>dziumanenko@gmail.com</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

  <title>Довідка користувача</title>

  <links type="series" style="floatend">
    <title>Налаштовування довідки</title>
  </links>

  <p>У вас може виникнути потреба у додаванні довідки, зокрема вступних зауважень щодо вашої програми або списку клавіатурних скорочень, до вашої програми.</p>

  <p>Скористайтеся <app>yelp-tools</app> для збирання довідки у форматі <link href="http://www.projectmallard.org/">Mallard</link>, яка може бути дискретною або інтегрованою із іншою довідкою до програм.</p>

  <p>Mallard — мова розмітки, яку розроблено для зорієнтованої на теми довідки.</p>

</page>
