<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="dev-translate-tools" xml:lang="uk">

  <info>
    <revision version="0.1" date="2013-06-19" status="review"/>

    <credit type="author copyright">
      <name>Майкл Гілл (Michael Hill)</name>
      <email its:translate="no">mdhillca@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Максим Дзюманенко</mal:name>
      <mal:email>dziumanenko@gmail.com</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

  <title>Інструменти перекладу</title>

  <links type="series" style="floatend">
    <title>Налаштовування перекладів</title>
  </links>

  <p>На цьому етапі рядки готові до перекладу або <em>локалізації</em>. Для проєктів, код яких зберігається у сховищах Git GNOME, це завдання виконує проєкт перекладу GNOME. <app href="https://wiki.gnome.org/Apps/Gtranslator">Gtranslator</app> — інструмент GNOME для редагування файлів <file>.po</file>. Іншими інструментами для локалізації у інтернеті та на персональних комп'ютерах є <app>Transifex</app>, <app>Virtaal</app>, <app>Lokalize</app> та <app>Pootle</app>.</p>

</page>
