<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-gda" xml:lang="uk">

  <info>
    <link type="guide" xref="tech" group="gda"/>
    <revision pkgversion="3.0" date="2011-04-05" status="incomplete"/>

    <credit type="author copyright">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Уніфікований доступ до реляційних баз даних</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Максим Дзюманенко</mal:name>
      <mal:email>dziumanenko@gmail.com</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

<title>Доступ до даних у GNOME</title>

<p>Доступ до даних GNOME (GNOME Data Access або просто GDA) є обгорткою для реляційних баз даних, яка спрощує зберігання і отримання даних багатьох різних типових систем роботи із базами даних.</p>

<p>Замість різних інтерфейсів, що враховують особливості різних систем роботи з базами даних, GDA надає у ваше розпорядження уніфікований інтерфейс. У GDA передбачено підтримку SQLite, MySQL, PostreSQL, Microsoft Access, Berkeley DB, Oracle і JDBC.</p>


<list style="compact">
  <item><p><link href="https://developer.gnome.org/libgda/stable/">Підручник з доступу до даних у GNOME</link></p></item>
  <item><p><link href="http://www.gnome-db.org/">Домашня сторінка GDA</link></p></item>
</list>

</page>
