<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-champlain" xml:lang="uk">

  <info>
    <link type="guide" xref="tech" group="champlain"/>

    <credit type="author copyright">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Показ мап</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Максим Дзюманенко</mal:name>
      <mal:email>dziumanenko@gmail.com</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

<title>Champlain</title>

  <p>Champlain — бібліотека, яка забезпечує роботу віджетів для показу мап. Мапи може бути отримано з різних джерел, зокрема з <link href="http://www.openstreetmap.org/">Open Street Map</link>.</p>

  <note>
    <p>libchamplain названо на честь Самюєля де Шамплена, знаменитого французького мореплавця, дослідника та картографа. Він є «батьком Нової Франції» та засновником Квебек-сіті. У 2008 році відзначено 400 років з дня його народження. Саме цього року було створено відповідну програмну бібліотеку.</p>
  </note>

  <list style="compact">
    <item><p><link href="https://wiki.gnome.org/Projects/libchamplain">Домашня сторінка Champlain</link></p></item>
  </list>
</page>
