<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-webkit" xml:lang="uk">

  <info>
    <link type="guide" xref="tech" group="webkit"/>
    <revision pkgversion="3.0" date="2011-04-05" status="incomplete"/>

    <credit type="author copyright">
      <name>Shaun McCance</name>
      <email its:translate="no">shaunm@gnome.org</email>
      <years>2011</years>
    </credit>
    <credit type="copyright editor">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Показ вебсторінок HTML5</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Максим Дзюманенко</mal:name>
      <mal:email>dziumanenko@gmail.com</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

<title>WebKit</title>

  <p>WebKit потужний рушій обробки HTML, який працює на багатьох платформах і використовується у продуктах із відкритим кодом та комерційних і пропрієтарних продуктах. WebKitGTK є портом WebKit, побудованим на основі <link xref="tech-gtk">GTK</link> та інтегрованим до платформи для розробників GNOME. WebKitGTK розробляється у основній гілці розробки проєкту WebKit, тому у ньому використовується найсвіжіший код та найновіші можливості HTML5.</p>

<p>WebKitGTK спрощує додавання до вашої програми можливостей із перегляду сторінок інтернету та використання HTML5 та пов'язаних технологій для швидкого створення динамічних інтерфейсів користувача.</p>

<list style="compact">
  <item><p><link href="http://developer.gnome.org/gnome-devel-demos/stable/message-board.c.html">Підручник-демонстрація WebKitGTK</link></p></item>
  <item><p><link href="http://webkitgtk.org/reference/webkit2gtk/stable/">Підручник-довіддник WebKitGTK</link></p></item>
  <item><p><link href="http://webkitgtk.org/">Вебсайт WebKitGTK</link></p></item>
</list>

</page>
