<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-spell-checking" xml:lang="uk">

  <info>
    <link type="guide" xref="tech" group="spell-checking"/>

    <credit type="author copyright">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>
    <credit type="author copyright">
      <name>Sébastien Wilmet</name>
      <email its:translate="no">swilmet@gnome.org</email>
      <years>2017</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Перевірка правопису для текстових віджетів</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Максим Дзюманенко</mal:name>
      <mal:email>dziumanenko@gmail.com</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

<title>Перевірка правопису</title>

  <p>Перевірка правопису та пов'язані завдання здійснюється за допомогою декількох бібліотек: Enchant і gspell.</p>

  <p>Enchant надає у ваше розпорядження низькорівневий інтерфейс. Ви можете перевірити правопис слова або отримати список пропозицій щодо неправильно написаного слова. На вищому рівні, gspell інтегрує перевірку правопису до текстових віджетів GTK (і <code>GtkEntry</code>, і <code>GtkTextView</code>).</p>

  <p>У GNOME ці бібліотеки використовують у програмах, які тісно працюють із текстом, зокрема у gedit (текстовому редакторі) і Epiphany (веббраузер, для введення тексту до вебформ).</p>

  <list style="compact">
    <item><p><link href="https://www.abisource.com/projects/enchant/">Домашня сторінка Enchant</link></p></item>
    <item><p><link href="https://wiki.gnome.org/Projects/gspell">Домашня сторінка gspell</link></p></item>
  </list>

</page>
