<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:xi="http://www.w3.org/2001/XInclude" type="guide" style="task" id="label.c" xml:lang="cs">
  <info>
    <title type="text">Label (C)</title>
    <link type="guide" xref="c#display-widgets"/>
    <link type="seealso" xref="switch.c"/>
    <revision version="0.2" date="2012-06-22" status="draft"/>

    <credit type="author copyright">
      <name>Monica Kochofar</name>
      <email its:translate="no">monicakochofar@gmail.com</email>
      <years>2012</years>
    </credit>

    <desc>Widget, který zobrazuje text.</desc>
  </info>

  <title>Label</title>
<table>
  <tr>
    <td>
      <media type="image" mime="image/png" src="media/label.png"/>
      <p>Jednoduchý popisek</p>
    </td>
  </tr>
</table>

<code mime="text/x-csrc" style="numbered">#include &lt;gtk/gtk.h&gt;



static void
activate (GtkApplication *app,
          gpointer        user_data)
{
  GtkWidget *window;
  GtkWidget *label;

  /* Vytvoří okno s názvem a výchozí velikostí */
  window = gtk_application_window_new (app);
  gtk_window_set_application (GTK_WINDOW (window), GTK_APPLICATION (app));
  gtk_window_set_title (GTK_WINDOW (window), "Welcome to GNOME");
  gtk_window_set_default_size (GTK_WINDOW (window), 200,100);
   
  /* Vytvoří popisek a nastaví jeho zarovnání. Nastavení zalomování řádku na 
     TRUE zajistí, že popisek zalomí řádky, které přesahují velikost widgetu. 
     Když je nastaveno na FALSE, bude text na hraně popisku odříznut */
  label = gtk_label_new ("Hello GNOME!");
  gtk_label_set_justify (GTK_LABEL (label), GTK_JUSTIFY_CENTER);
  gtk_label_set_line_wrap (GTK_LABEL (label), TRUE);

  gtk_container_add (GTK_CONTAINER (window), GTK_WIDGET (label));

  gtk_widget_show_all (GTK_WIDGET (window));
}



int
main (int argc, char **argv)
{
  GtkApplication *app;
  int status;

  app = gtk_application_new ("org.gtk.example",G_APPLICATION_FLAGS_NONE);
  g_signal_connect (app, "activate", G_CALLBACK (activate), NULL);
  status = g_application_run (G_APPLICATION (app), argc, argv);
  g_object_unref (app);
  return status;
}
</code>
<p>V této ukázce se používá následující:</p>
<list>
  <item><p><link href="http://developer.gnome.org/gtk3/3.4/GtkApplication.html">GtkApplication</link></p></item>
  <item><p><link href="http://developer.gnome.org/gtk3/stable/GtkWindow.html">GtkWindow</link></p></item>
 <item><p><link href="http://developer.gnome.org/gtk3/3.4/GtkLabel.html">GtkLabel</link></p></item>
</list>
</page>
