<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-gio" xml:lang="ko">

  <info>
    <link type="guide" xref="tech" group="gio"/>
    <revision pkgversion="3.0" date="2011-04-05" status="review"/>

    <credit type="author copyright">
      <name>Shaun McCance</name>
      <email its:translate="no">shaunm@gnome.org</email>
      <years>2011</years>
    </credit>
    <credit type="copyright editor">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>파일 URI 처리, 비동기 파일 처리, 볼륨 처리</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조성호</mal:name>
      <mal:email>shcho@gnome.org</mal:email>
      <mal:years>2016, 2017, 2018.</mal:years>
    </mal:credit>
  </info>

<title>GIO Files</title>

<p>GIO provides APIs for asynchronously reading and writing files and
other streams. Files are referenced by URIs (uniform resource identifiers), and backends can
provide access to more than just local files. When running under the
GNOME desktop, GIO uses GVFS to allow access to files over SFTP, FTP,
WebDAV, SMB, and other popular protocols. This transparent network
file access is free to all applications using GIO.</p>

<p>GIO 파일 API는 이벤트 기반 그래픽 인터페이스에서 활용하도록 설계했습니다. 동작을 멈추게 하지 않는(논-블록킹) 비동기 설계는 파일 처리를 기다리는 동안 사용자 인터페이스 처리 동작을 멈추지 않게 합니다. 작업 그레드 또는 프로세스에서 더 편하게 활용할 수도 있는 API 동기 처리 버전도 있습니다.</p>

<p>GIO에는 드라이브 및 볼륨 관리 루틴, 파일 형식 및 아이콘 정보 질의 루틴, 파일을 열 프로그램을 찾는 루틴이 있습니다.</p>

<list style="compact">
  <item><p><link href="http://developer.gnome.org/gio/stable/">GIO 참고 설명서</link></p></item>
</list>

</page>
