<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-poppler" xml:lang="ko">

  <info>
    <link type="guide" xref="tech" group="poppler"/>

    <credit type="author copyright">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>PDF 표현</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조성호</mal:name>
      <mal:email>shcho@gnome.org</mal:email>
      <mal:years>2016, 2017, 2018.</mal:years>
    </mal:credit>
  </info>

<title>파플러</title>

  <p>파플러는 PDF 문서를 표현하는 특별한 라이브러리입니다. 다양한 용도로 활용할 수 있습니다. 에빈스는 그놈의 PDF 보기 프로그램이며, PDF 문서를 화면에 나타낼 때 전적으로 파플러를 활용합니다. 게다가 PDF 파일의 미리 보기 그림을 만들 때도 파플러를 활용합니다. PDF의 페이지를 정돈하거나 추출하는 프로그램을 만들 때도 활용할 수 있습니다.</p>

  <list style="compact">
    <item><p><link href="http://poppler.freedesktop.org/">파플러 홈페이지</link></p></item>
  </list>

</page>
