<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-glib" xml:lang="ko">

  <info>
    <link type="guide" xref="tech" group="glib"/>

    <credit type="author copyright">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>C 프로그램용 데이터 구조 및 유틸리티</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조성호</mal:name>
      <mal:email>shcho@gnome.org</mal:email>
      <mal:years>2016, 2017, 2018.</mal:years>
    </mal:credit>
  </info>

<title>GLib</title>

  <p>GLib는 모든 그놈 라이브러리의 가장 핵심적인 부분입니다. C 프로그램의 단순 데이터 구조(연결 리스트, 이진 트리, 해시 테이블)를 제공하며 문자열 처리 함수 같은 다양한 편의 수단이 있습니다.</p>

  <p>C 프로그램을 작성하는게 아니라면, 보통 GLib를 굳이 고려할 필요가 없습니다. 그러나 C 프로그램을 작성한다면 C 프로그래머 입장에서 GLib를 활용하는게 인생을 편하게 사는 방법입니다.</p>

  <list style="compact">
    <item><p><link href="http://developer.gnome.org/glib/stable/">GLib 참고 설명서</link></p></item>
  </list>

</page>
