<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="dev-help" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="index" group="help"/>
    <link type="next" xref="dev-help-write"/>
    <link type="seealso" xref="dev-translate"/>

    <revision version="0.1" date="2013-06-18" status="review"/>

    <credit type="author copyright">
      <name>Radina Matic</name>
      <email its:translate="no">radina.matic@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Application and context sensitive user help and documentation.</desc>

  </info>

  <title>User help</title>

  <links type="series" style="floatend">
    <title>Set up help</title>
  </links>

  <p>You may want to add help, such as an introduction to your application or a
  list of keyboard shortcuts, to your application.</p>

  <p>Use <app>yelp-tools</app> to build
  <link href="http://www.projectmallard.org/">Mallard</link> help which can be
  discrete or integrated with other application help.</p>

  <p>Mallard is a markup language which is designed for topic-oriented help.</p>

</page>
