<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-telepathy" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="tech" group="telepathy"/>
    <revision pkgversion="3.0" date="2011-04-05" status="incomplete"/>

    <credit type="author copyright">
      <name>Shaun McCance (肖恩麦坎斯)</name>
      <email its:translate="no">shaunm@gnome.org</email>
      <years>2011–2012</years>
    </credit>
    <credit type="copyright editor">
      <name>Federico Mena Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Unified instant-messaging and communications service</desc>
</info>

<title>Telepathy</title>

  <p>Telepathy provides a powerful framework for interacting with the user's
  instant messaging contacts. With Telepathy, all accounts and connections are
  handled by a <link xref="tech-d-bus">D-Bus</link> session service that's
  deeply integrated into the GNOME desktop. Applications can tie into this
  service to communicate with contacts.</p>

<p>With the Telepathy Tubes API, you can even tunnel an arbitrary
protocol over modern instant messaging protocols like Jabber to
create interactive applications. You can create multi-player games or
collaborative editors that integrate with the desktop-wide
instant messaging services.</p>

<list style="compact">
  <item><p><link href="http://telepathy.freedesktop.org/doc/book/">Telepathy Developer's Manual</link></p></item>
  <item><p><link href="http://telepathy.freedesktop.org">The Telepathy web site</link></p></item>

</list>

</page>
