<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="license" xml:lang="gl">

  <info>
    <link type="seealso" xref="index"/>
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
    <desc>Información legal.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Dieguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2012-2013.</mal:years>
    </mal:credit>
  </info>

  <title>Licenza</title>
  <p>Este traballo está licenciado baixo una Licenza Creative Commons Atribución - Compartir igual 3.0 sen asistencia.</p>
  <p>É libre de:</p>
  <terms>
    <item>
      <title><em>Compartir</em></title>
      <p>Copiar, distribuír e comunicar publicamente a obra.</p>
    </item>
    <item>
      <title><em>Facer obras derivadas</em></title>
      <p>Adaptar o traballo.</p>
    </item>
  </terms>
  <p>Baixo as seguintes condicións:</p>
  <terms>
    <item>
      <title><em>Atribución</em></title>
      <p>Debe recoñecer os créditos da obra da maneira especificada polo autor ou o licenciatario (pero non dunha maneira que suxira que ten o seu apoio ou apoian o uso que fai da súa obra).</p>
    </item>
    <item>
      <title><em>Compartir igual</em></title>
      <p>Se modifica, transforma ou constrúe sobre este traballo debe distribuír o traballo resultando baixo unha licenza igual, similar ou compatíbel.</p>
    </item>
  </terms>
  <p>Pode encontrar o texto completo da licenza vexa o <link href="http://creativecommons.org/licenses/by-sa/3.0/legalcode">sitio web de CreativeCommons</link>, ou lea o <link href="http://creativecommons.org/licenses/by-sa/3.0/">Escrito de Commons</link> completo.</p>

<note style="important"><p>
As a special exception, the copyright holders give you permission to
copy, modify, and distribute the example code contained in this documentation under the terms of your choosing, without restriction.</p></note>
</page>
