<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:xi="http://www.w3.org/2001/XInclude" type="guide" style="task" id="switch.vala" xml:lang="gl">
  <info>
  <title type="text">Switch (Vala)</title>
    <link type="guide" xref="beginner.vala#buttons"/>
    <link type="seealso" xref="checkbutton.vala"/>
    <link type="seealso" xref="label.vala"/>
    <link type="seealso" xref="grid.vala"/>

    <revision version="0.1" date="2012-05-09" status="draft"/>

    <credit type="author copyright">
      <name>Tiffany Antopolski</name>
      <email its:translate="no">tiffany.antopolski@gmail.com</email>
      <years>2012</years>
    </credit>

    <desc>A "light switch" style toggle</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Dieguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2012-2013.</mal:years>
    </mal:credit>
  </info>

  <title>Interruptor</title>
  <media type="image" mime="image/png" style="floatend" src="media/switch_off.png"/>
  <media type="image" mime="image/png" src="media/switch_on.png"/>

  <p>This Switch toggles the title.</p>

<code mime="text/x-csharp" style="numbered">class MyWindow : Gtk.ApplicationWindow {

	internal MyWindow (MyApplication app) {
		Object (application: app, title: "Switch Example");

		this.set_default_size (300, 100);
		this.border_width = 10;

		var label = new Gtk.Label ("Title");
		var switcher = new Gtk.Switch ();

		switcher.set_active (true);

		switcher.notify["active"].connect (switcher_cb);

		var grid = new Gtk.Grid ();
		grid.set_column_spacing (10);
		grid.attach (label, 0, 0, 1, 1);
		grid.attach (switcher, 1, 0, 1, 1);

		this.add (grid);
	}

	void switcher_cb (Object switcher, ParamSpec pspec) {
		if ((switcher as Gtk.Switch).get_active())
			this.set_title ("Switch Example");
		else
			this.set_title ("");
	}
}

class MyApplication : Gtk.Application {
	protected override void activate () {

		var window = new MyWindow (this);
		window.show_all (); //show all the things
	}

	internal MyApplication () {
		Object (application_id: "org.example.checkbutton");
	}
}

int main (string[] args) {
	return new MyApplication ().run (args);
}
</code>
<p>Neste exemplo empregaremos o seguinte:</p>
<list>
  <item><p><link href="http://www.valadoc.org/gtk+-3.0/Gtk.Switch.html">Gtk.Switch</link></p></item>
</list>
</page>
