<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:xi="http://www.w3.org/2001/XInclude" type="guide" style="task" id="window.vala" xml:lang="gl">
  <info>
  <title type="text">Xanela (Vala)</title>
    <link type="guide" xref="beginner.vala#windows"/>
    <revision version="0.1" date="2012-04-07" status="draft"/>

    <credit type="author copyright">
      <name>Tiffany Antopolski</name>
      <email its:translate="no">tiffany.antopolski@gmail.com</email>
      <years>2012</years>
    </credit>

    <desc>Un botón de primeiro nivel que pode conter a outros widgets</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Dieguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2012-2013.</mal:years>
    </mal:credit>
  </info>

  <title>Xanela</title>
<table>
  <tr>
    <td>
      <media type="image" mime="image/png" src="media/window.png"/>
      <p>O Gtk.Application máis simple</p>
    </td>
    <td>
      <p>Use <link xref="GtkApplicationWindow.vala">Xanela de aplicación</link> se quere compatibilidade con GMenu.</p>
    </td>
  </tr>
</table>
<code mime="text/x-csharp" style="numbered">/* This is the application. */
public class Application : Gtk.Application {

	/* Constructor */
	public Application () {
		Object (application_id: "org.example.window");
	}

	/* Override the 'activate' signal of GLib.Application,
	 * which is inherited by Gtk.Application. */
	public override void activate () {

		var window = new Gtk.Window ();
		window.title = "Welcome to GNOME";

		/* The following 3 lines are included here to introduce
		 * you to ways you can adjust the toplevel window to suit
		 * your needs.  Uncomment them to see what they do.
		 */

		//window.border_width = 10;
		//window.set_default_size (350, 70);
		//window.window_position = Gtk.WindowPosition.CENTER;

		/* Add the window to this application. */
		this.add_window (window);

		/* Show the window. */
		window.show ();
	}
}

/* The main function creates the application and runs it.*/
int main (string[] args) {
	var app = new Application ();
	return app.run (args);
}
</code>
<p>Neste exemplo empregaremos o seguinte:</p>
<list>
  <item><p><link href="http://www.valadoc.org/gtk+-3.0/Gtk.Application.html">Gtk.Application</link></p></item>
  <item><p>O widget <link href="http://www.valadoc.org/gtk+-3.0/Gtk.Window.html">Gtk.Window</link></p></item>

  <item><p>O enum <link href="http://www.valadoc.org/gtk+-3.0/Gtk.WindowPosition.html">Gtk.WindowPosition</link></p></item>

  <item><p>O método <link href="http://www.valadoc.org/gtk+-3.0/Gtk.Window.set_default_size.html">set_default_size</link></p></item>

  <item><p><link href="http://www.valadoc.org/gtk+-3.0/Gtk.Container.border_width.html">border_width</link></p></item>

  <item><p><link href="http://www.valadoc.org/gtk+-3.0/Gtk.Window.window_position.html">window_position</link></p></item>
</list>
</page>
