<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="response-type" xml:lang="el">
  <info>
    <revision version="0.1" date="2012-04-10" status="stub"/>

    <credit type="author copyright">
      <name>Tiffany Antopolski</name>
      <email its:translate="no">tiffany.antopolski@gmail.com</email>
      <years>2012</years>
    </credit>

    <desc/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ελληνική μεταφραστική ομάδα GNOME</mal:name>
      <mal:email>team@gnome.gr</mal:email>
      <mal:years>2012-2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Δημήτρης Σπίγγος</mal:name>
      <mal:email>dmtrs32@gmail.com</mal:email>
      <mal:years>2012, 2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Μαρία Θουκιδίδου</mal:name>
      <mal:email>marablack3@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Θάνος Τρυφωνίδης</mal:name>
      <mal:email>tomtryf@gmail.com</mal:email>
      <mal:years>2014, 2015</mal:years>
    </mal:credit>
  </info>

  <title>απαρίθμηση ResponseType</title>

  <terms>
    <item>
  <title>ResponseType.NONE = -1</title>
  <p>Επιστρέφεται αν ένα γραφικό στοιχείο ενέργειας δεν έχει αναγνωριστικό απάντησης, ή αν ο διάλογος κρύβεται ή καταστρέφεται προγραμματιστικά</p>
    </item>
    <item>
  <title>ResponseType.REJECT = -2</title>
  <p>Γενικό αναγνωριστικό απάντησης, που δεν χρησιμοποιείται από διαλόγους GTK+</p>
    </item>
    <item>
  <title>ResponseType.ACCEPT = -3</title>
  <p>Γενικό αναγνωριστικό απάντησης, που δεν χρησιμοποιείται από διαλόγους GTK+</p>
    </item>
    <item>
  <title>ResponseType.DELETE_EVENT = -4</title>
  <p>Επιστρέφεται αν ο διάλογος διαγραφεί</p>
    </item>
    <item>
  <title>ResponseType.OK = -5</title>
  <p>Επιστρέφεται από πλήκτρα ΕΝΤΑΞΕΙ σε διαλόγους GTK+</p>
    </item>
    <item>
  <title>ResponseType.CANCEL = -6</title>
  <p>Επιστρέφεται από πλήκτρα ακύρωσης σε διαλόγους GTK+</p>
    </item>
    <item>
  <title>ResponseType.CLOSE = -7</title>
  <p>Επιστρέφεται από πλήκτρα Κλεισίματος σε διαλόγους GTK+</p>
    </item>
    <item>
  <title>ResponseType.YES = -8</title>
  <p>Επιστρέφεται από πλήκτρα Ναι σε διαλόγους GTK+</p>
    </item>
    <item>
  <title>ResponseType.NO = -9</title>
  <p>Επιστρέφεται από πλήκτρα Όχι σε διαλόγους GTK+</p>
    </item>
    <item>
  <title>ResponseType.APPLY = -10</title>
  <p>Επιστρέφεται από πλήκτρα εφαρμογής σε διαλόγους GTK+</p>
    </item>
    <item>
  <title>ResponseType.HELP = -11</title>
  <p>Επιστρέφεται από πλήκτρα βοήθειας σε διαλόγους GTK+</p>
    </item>
</terms>
</page>
