<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tech-pulseaudio" xml:lang="de">

  <info>
    <link type="guide" xref="tech" group="pulseaudio"/>

    <credit type="author copyright">
      <name>Shaun McCance</name>
      <email its:translate="no">shaunm@gnome.org</email>
      <years>2011</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Systemnahe Audio-API</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2012, 2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2011, 2012, 2015, 2017, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aljosha Papsch</mal:name>
      <mal:email>al@rpapsch.de</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tim Sabsch</mal:name>
      <mal:email>tim@sabsch.com</mal:email>
      <mal:years>2019</mal:years>
    </mal:credit>
  </info>

<title>PulseAudio</title>

  <p>PulseAudio ist die Low-Level-Audio-API in GNOME. Sie fungiert als Bindeglied zwischen Anwendungen und der Audio-API des Kernels. Mit PulseAudio können Sie die Durchleitung von Klängen durch das Netzwerk oder die Ausgabe an ein Bluetooth-Headset steuern. Verschiedene Klangquellen können gemischt oder die Samplingrate eines Audio-Datenstroms beeinflusst werden.</p>

  <p>Alle Teile von GNOME, die Klänge ausgeben können, verwenden PulseAudio auf die eine oder andere Weise, entweder direkt oder indirekt über die APIs höherer Ebenen zur Klangmanipulation, wie <link xref="tech-gstreamer">GStreamer</link>.</p>

  <list style="compact">
    <item><p><link href="http://www.freedesktop.org/wiki/Software/PulseAudio">Die Internetseite von PulseAudio</link></p></item>
  </list>

</page>
