<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="additional-materials" xml:lang="ro">

  <info>
    <link type="guide" xref="index#references"/>
    
    <credit type="author copyright">
      <name>Federico Mena-Quintero</name>
      <email its:translate="no">federico@gnome.org</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="cc-by-sa-3-0.xml"/>

    <desc>Alte ghiduri de stil și cărți despre organizarea de proiecte de programe libere</desc>
  </info>

  <title>Materiale suplimentare</title>

  <p>Aici vă oferim legături la alte materiale care v-ar putea fi de folos. Acestea vă vor învăța multe despre modul de lucru în echipe mari, distribuite, de dezvoltatori de programe libere, și despre un bun stil de programare în general.</p>

  <list>
    <item>
      <p>
	<link href="http://producingoss.com/">Producing Open Source
	Software</link>, by Karl Fogel.  This is a truly excellent
	book of good practices that free software projects should
	follow.  This is about <em>social aspects</em> of the project:
	how to treat contributors, how to organize and moderate
	communication, how to deal with non-profit foundations.  If
	you ask yourself at any time, "how should I deal with
	$human_situation in the project?", this book may provide the
	answer.
      </p>
    </item>

    <item>
      <p><link href="http://www.gnu.org/prep/standards/">GNU Coding Standards</link>. Acesta este un document vechi, dar mai are încă o mulțime de sfaturi excelente. Se vorbește despre C și stilul de programare, probleme atunci când se ocupă cu sisteme de module (plugins), nume comune de opțiuni de programe pentru linia de comandă, convențiile Makefiles și unele detalii foarte GNU ca folosirea lui Texinfo pentru documentație.</p>
    </item>

    <item>
      <p>
	<link href="https://www.kernel.org/doc/Documentation/process/coding-style.rst">
	Linux Kernel Coding Style</link>.  Explains the rationale for "big
	indentation", brace placement, concise but unambiguous naming, and
	centralized exit of functions.
      </p>
    </item>
  </list>
</page>
